## INTRO BASES DE DATOS
Base de datos: es un armario digital que almacena datos, pueden ser cualquier cosa, permiten almacenar organizar y recuperar info de manera rápida y eficiente.
La tabla:  estructura para almacenar datos, aunque no todas están almacenadas en tablas.

**Bases de datos relacional(tablas)**, las tablas están relacionadas entre  si
Normalización: forma de almacenar datos en tablas y de cruzarlos. Se almacenan en columnas que contienen claves
Cuando estén separados hacemos un join para juntarlos al dataframe.

**Base de datos NSQL**, es guarda en "cajones", diseñada para modelos específicos, no tienen esquema flexible, no tienen un identificador quessirva para relacionar conjunto de datos y son fáciles de desarrollar

### SQL

**Structured query language**, lenguaje de programación no ligado a python, indicado para el uso de datos.
Los gestores de bases de datos, nos dejaan interactuar con datos
Se divide en tres grupos de comandos:
-Data definition: nos da la info
-Data manipuLtione, nos permite manipular datos.

Tiene cuatro comandos para trabajar con squl
-Select:comando de consulta
-Insert: nows permite introducir nnuevos valores
-Upudate: nos permite modificar una fila y asistente con la intaxis de update, set y where
-Delete: Nos permite borrar filas con la siguiente sintaxis.

In [ ]:
# Pasamos el DataFrame de Pandas a SQL
df.to_sql('pokemon', con=cnx, if_exists='append', index=False)

# SQL en Python: Preparativos
 Para empezar y poder acceder a nuestrar primeras BBDD (Bases de datos) **utilizaremos el módulo `sqlite3`**.

Pasos utilizados para el análisis de datos:
Recordemos los pasos que vimos en las sesión anterior:
1. Conexión a la base de datos
2. Extracción de los datos
3. Volcado en Pandas.
4. Procesado (E)T(L) (la E la hemos hecho en 2. y la L. la veremos al final de la unidad)

In [ ]:
# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("./data/chinook.db") #paras conectanos en la base de datos
# Obtenemos un cursor que utilizaremos para hacer las queries
cursor_clase = connection.cursor()

El cursor es un elemento común a los gestores de bases de datos y para nosotros es como un intermediario al que vamos a pasar las queries y comandos en SQL y del que obtendremos los resultados de estas queries y comandos. En general los pasos son: conexión, creacion del cursos, intereacció a través del cursor.

En un entorno de gestor, todo esto es transparente para el usuario que accede al interprete de SQL (normalmente gráfico con cajitas) e interactua directamente.

Además otras librerías y módulos que te permiten acceso a otros gestores son:
* SQL Server: `pyodbc`
* Oracle: `cx_Oracle`
* PostgreSQL: `psycopg2`

### Configuración del entorno: Cursor

El cursor tiene  métodos:

* `execute`
* `fetchall`
* `fetchone`
* `fetchmany`

`execute` es el que emplearemos para enviarle una sentencia SQL a la base de datos.
ejecutar un "SELECT * FROM table"
nos devolvía todas las columnas y filas de una tabla.

In [ ]:
query = "SELECT * FROM employees"
cursor_clase.execute(query)
#execute no nos devuelve nada de primeras,por elllo tenemos otros métodos.
#nos devuelve:

`execute` para decirle al cursor lo que tiene que hacer

<sqlite3.Cursor at 0x7fe4b9e14d50>

`fetchone` nos devuelve el primer registro que un cursor haya obtenido al ejecutar una sentencia sql:

In [4]:
cursor_clase.fetchone()

NameError: name 'cursor_clase' is not defined

In [ ]:
(1,
 'Adams',
 'Andrew',
 'General Manager',
 None,
 '1962-02-18 00:00:00',
 '2002-08-14 00:00:00',
 '11120 Jasper Ave NW',
 'Edmonton',
 'AB',
 'Canada',
 'T5K 2N1',
 '+1 (780) 428-9482',
 '+1 (780) 428-3457',
 'andrew@chinookcorp.com')

nos devuelve una tupla donde no están los nombres de las columnas, si no que están los valores

`fetchmany` nos permite recuperar un número determinado de filas, pasándole el valor por parámetro

In [ ]:
cursor_clase.fetchmany(13)  
#el 13, nos devuelve todos los que hay o le queden que sean menores que 13

In [ ]:
[(2,
  'Edwards',
  'Nancy',
  'Sales Manager',
  1,
  '1958-12-08 00:00:00',
  '2002-05-01 00:00:00',
  '825 8 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 2T3',
  '+1 (403) 262-3443',
  '+1 (403) 262-3322',
  'nancy@chinookcorp.com')]
Nos devuelve una lista de tuplas con los valores que le hemos pedido o el máximo de valores si este es menor.

`fetchall` nos devuelve todas las posibles filas capturadas con nuestra sentencia sql (ahora que estamos ejecutando SELECT)

In [ ]:
cursor_clase.fetchall()

Nos devuelva una lista vacia, porque los fetch van sacando del cursor las filascomo ya sacamos todo con lo anterior, fetchall no nos devuelve nada y hay que volver a ejecutar la query para que nos devuelva

In [ ]:
cursor_clase.execute(query)
cursor_clase.fetchall() #nos devuelve todos

### Atributo description

Nos permite obtenerr las columnas que tenemos dentro de la tabla que ha recogido el cursor al ejecutar una sentencia

In [ ]:
cursor_clase.description

In [ ]:
(('EmployeeId', None, None, None, None, None, None),
 ('LastName', None, None, None, None, None, None),
 ('FirstName', None, None, None, None, None, None),
 ('Title', None, None, None, None, None, None),
 ('ReportsTo', None, None, None, None, None, None),
 ('BirthDate', None, None, None, None, None, None),
 ('HireDate', None, None, None, None, None, None),
 ('Address', None, None, None, None, None, None),
 ('City', None, None, None, None, None, None),
 ('State', None, None, None, None, None, None),
 ('Country', None, None, None, None, None, None),
 ('PostalCode', None, None, None, None, None, None),
 ('Phone', None, None, None, None, None, None),
 ('Fax', None, None, None, None, None, None),
 ('Email', None, None, None, None, None, None))
#tiene un descriptor de la CVOLUMNA, PERO NO DE LOS VALORES, DE CADA TUPLA NNOS QUEDAMOS CON EL PRIMER VALOR.

Para quedarnos con el nombre de las columnas:

In [ ]:
names_col = [descript[0] for descript in cursor_clase.description]
names_col

In [ ]:
['EmployeeId',
 'LastName',
 'FirstName',
 'Title',
 'ReportsTo',
 'BirthDate',
 'HireDate',
 'Address',
 'City',
 'State',
 'Country',
 'PostalCode',
 'Phone',
 'Fax',
 'Email']

### Convirtiendo a pandas las salida

convertir a Pandas la salida, tan sencillo como pasar la tupla obtenida y como columnas los nombres que hemos sacado de description

In [ ]:
cursor_clase.execute(query)
resultado = cursor_clase.fetchall()
df = pd.DataFrame(resultado, columns = names_col)
df
#no se necesita usar el descriptor porque se ha hecho la misma query, si fuese otra query se denbería hacer el names_coL para hacer una query correcta

## SQL en Python: Primeras Queries

In [ ]:
#conectarse a base de datos
import pandas as pd
import sqlite3

# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("data/chinook.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
cursor_bootcamp = connection.cursor()

### Tablas y Schema
Para ver las tablas que hay en una base de datos con la que hemos establecido conexión en el caso de sqlite3:

In [ ]:
res = cursor_bootcamp.execute("SELECT name FROM sqlite_master WHERE type = 'table'")

Fíjate que hemos empleado una consulta (SELECT) sql sobre una tabla, que se denomina maestra, y le hemos pasado la query al gesto a través del cursor.
La tabla maestra es aquella que nos indica  cuantas ntablas tiene, tipos de datos y relaciones.

podríamos recorrer todas las tablas y sacar sus nombres de columnas o podríamos investigar las columnas de esa tabla maestra y de ahí obtener el modelo de datos.

In [ ]:
res = cursor_bootcamp.execute("SELECT name FROM sqlite_master WHERE type = 'table'") #select sobre tabla sqlite master("tabla maestra"), es una tabla que tiene todos los datos y sus relaciones.
tablas = []                                                               
for name in res:
    print(name[0])
    tablas.append(name[0]) #nos da la tabla maestra

In [ ]:
Se puede recorrer para obtener toda la información y obtener el modelo de datos.

### Modelo de datos

Debemos saber el modelo de datos para saber donde está la info que queremos extraer antes de manipularla y analizarla.

### Primeras queries con SELECT
```SQL
SELECT campo1, campo2, campo3...
FROM tabla ["DE DONDE"]
WHERE condiciones["EN QUE CONDICIONES O COMO LOS FILTRAMOS SI NO QUEREMOS TODOS LOS VALORES"]
ORDER BY campo1, campo2 (DESC)["COMO SE ORDENAN, DESC ES SI LOS QUEREMOS EN DESCENDENTES"]
LIMIT num_filas["SI QUEREMOS PONER UN LIMIT"]
```
 **palabras reservadas en SQL se suelen poner en mayúsculas**,
 No da error si se pone de otra manera, ya que SQL **no es *case sensitive***

#### SELECT *
nos devuelve todos los campos de una tabla

In [ ]:
query = '''   
SELECT *
FROM tracks
'''
#las comillas en python, si es en squl solo pondremos asterisco, se puede poner en una solam linea

In [ ]:
#seleccionar la query
cursor_bootcamp.execute(query)
resultado = cursor_bootcamp.fetchall()
col = [d[0] for d in cursor_bootcamp.description]
df = pd.DataFrame(resultado,columns = col)
df
#nosa da el dataframe

### Selección de campos

In [ ]:
#podemos seleccionar campos en completo, en laquery podemos dar nombre al campo por si queremos cambiar el nombre a las columnas. Los nombres los ponemos entre comillas porque tienen espacio, si no se podría poner sin el.
query = '''
SELECT Name as "Nombre cancion", composer as "Compositor"    
FROM tracks
'''
cursor_bootcamp.execute(query) #nos conserva los nombres para las columnas que queremos tener en el DF
resultado = cursor_bootcamp.fetchall()
col = [d[0] for d in cursor_bootcamp.description]
df = pd.DataFrame(resultado,columns = col)
df
#selecciona las columnas y además cambia los nombres

### LIMIT y DISTINCT
Se usa para acotar el número de registros de la query. Va siempre al final. Por ejemplo LIMIT 10
El limit nos dice el número de número de registro de lka queryu que queremos ver y se pone siempre al final. Se difgerencia de fetch many en que siempre nos devolvía el número a partir del resultado.
LIMIT carga menos la base de datos.

In [ ]:
query = '''
SELECT Name as "Nombre Cancion"
FROM tracks 
LIMIT 10
'''
cursor_bootcamp.execute(query)
resultado = cursor_bootcamp.fetchall()
col = [d[0] for d in cursor_bootcamp.description]
df = pd.DataFrame(resultado,columns = col)
df 
#nos da los 10 primeros valores empezando desde el 0

#### DISTINCT
Se usa para obtener todos los registros únicos, es decir, sin duplicados. Lo podremos emplear para eliminar dupicados (aunque te recomiendo que no modifiques los datos de las bases de datos, vuelcalo a pandas y modifica ahí), como para ver todas las casuísticas de un campo en concreto.

**Mucho cuidado con esta sentencia ya que si la tabla tiene miles o millones de registros, puede ralentizar mucho la query.**

In [ ]:
query = '''
SELECT DISTINCT Composer
FROM tracks
'''
cursor_bootcamp.execute(query)
resultado = cursor_bootcamp.fetchall()
col = [d[0] for d in cursor_bootcamp.description]
df = pd.DataFrame(resultado,columns = col)
df 
#nos da los 853 compositores de 3500

# SQL en Python: WHERE

El where lo usamos cuando queremos filtrar filas

In [ ]:
import pandas as pd
import sqlite3

# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("data/chinook.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
cursor_bootcamp = connection.cursor()

En la sesión anterior repetíamos siempre el mismo código y esquema para hacer una query y luego llevarla a un dataframe.
Es interesamte usar una función

In [ ]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    cursor_bootcamp.execute(query) # Recuerda que sólo funcionará si has llamado cursor_bootcamp
                                    # a tu cursor, si no, cambia el nombre en todo el código de la función

    # Almacena los datos de la query 
    ans = cursor_bootcamp.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in cursor_bootcamp.description]

    return pd.DataFrame(ans,columns=names)

In [ ]:
#si usamos la función
query = '''
SELECT composer
FROM tracks
'''
sql_query(query)

### WHERE
Se usa para filtrar filas

#### Filtros numéricos
* **Un valor numérico**
    * UnitPrice = 0.99
    * UnitPrice >= 0.99
    * UnitPrice < 0.99

In [ ]:
# Escogiendo la tabla tracks canciones que duren más de 6 minutos (360000 milisegundos)
minutos = 6 
query = f'''
SELECT name "Nombre Canción", Milliseconds "duracion"
FROM tracks
WHERE Milliseconds > {minutos * 60 * 1000}
'''
sql_query(query)

In [ ]:
#se pueden operar los campos con select, convietiendo miliseconds en seconds /1000
minutos = 6 #lo dividimos x 1000
query = f'''
SELECT name "Nombre Canción", Milliseconds/1000 "duracion" 
FROM tracks
WHERE Milliseconds > {minutos * 60* 1000}
'''
sql_query(query)

#### Filtros sobre campos de texto

* **Un valor string**: Name = 'Restless and Wild'
* **string contenido**:
    * strings que empiecen por 'A': Name like 'A%'
    * strings que acaben en 'A': Name like '%A'
    * strings que lleven 'A' en algun punto: Name like '%A%'

In [ ]:
# Compositores que se llamen Brian
query = '''
SELECT *
FROM tracks
WHERE composer LIKE "Brian%"
'''
sql_query(query)

In [ ]:

query = '''
SELECT *
FROM tracks
WHERE composer LIKE "%Brian%"
'''
sql_query(query) #nos da si tienen ese nombre entre medias del texto

#### Filtros varios

* **Varios valores**: GenreId in (1, 5, 12)ver que un conjunto está en una lista de valores, como el is in en panmdas
* **Distinto de**: UnitPrice <> 0.99 se usa como distinto

In [ ]:
# Clientes que vivan en Berlin, Londres o París
query = '''
SELECT FirstName "Nombre", LastName "Apellido", City "Ciudad"
FROM Customers
WHERE City in ("Berlin", "London", "Paris")
'''
sql_query(query)

#### Combinaciones booleanas de condiciones
podemos combinar los filtros ya que no dejan de ser condiciones booleanas al igual que hacemos con los DataFrame de pandas. Son and y or

In [ ]:
# Busquemos las canciones que cuesten más de 0.99 o duren menos de 3 minutos y además de eso en su nombre aparezca la palabra Fire
query = '''
SELECT *
FROM tracks
WHERE (unitprice > 0.99 or Milliseconds < 3*60*1000) and Name LIKE "%fire%"
'''
sql_query(query)

# SQL con Python: Ordenación, agregación y agrupación

### ORDER BY
 **ordenar la tabla por el campo/s que queramos**
. Por defecto ordena alfabéticamente los strings y de menor a mayor los tipos numéricos. Si quieres que ordene al revés, tienes que poner `DESC` de la forma `ORDER BY campo DESC` (como el `ascending = False` del `sort_values` de pandas,o el `reverse = True` en el caso de `sort` de listas)

In [ ]:
# Obtengamos los datos de la tabla "tracks" ordenados por nombre de forma descendente
query = '''
SELECT *
FROM tracks
ORDER BY name DESC'''

sql_query(query) #ordena alfabéticamente

In [ ]:
# Obtengamos el nombre de los clientes norteamericanos ordenados por apellido
query = '''
SELECT Firstname "Nombre", LastName "Apellido", Country "País"
FROM customers
WHERE Country in ("USA", "Canada")
ORDER BY Lastname
'''
sql_query(query)

### Agregaciones
funciones como `MAX`, `COUNT` o `AVG`.
Las agregaciones, solemos usarlas en DF

In [ ]:
# Obtener el número de canciones que contienen la palabra love
query = '''
SELECT COUNT(*)
FROM tracks
WHERE name LIKE "%Love%"
'''
sql_query(query)

In [ ]:
# Encontrar la media del precio de las canciones compradas
query = '''
SELECT AVG(unitprice)
FROM invoice_items
'''
sql_query(query)
#calculamos un average

In [ ]:
# Obtener la duración máxima de las canciones
query = '''
SELECT MAX(Milliseconds)/1000
FROM tracks
'''
sql_query(query)
#podemos poner algún tipo de argumento en la función para que a la hora de detectar que el resultado es un valor único, nos devuelva el valor y no el DF

### Agrupaciones (GROUP BY):

In [ ]:
# Selección del precio unitario en funcion del género
#as tot_price, es para cambiar el nombre al valor del sum
query = '''
SELECT GenreId, SUM(unitprice) as TOT_PRICE
FROM tracks
GROUP BY GenreId
ORDER BY TOT_PRICE DESC
LIMIT 10
'''#ya se puede usar la columna SUMA CON SU NUEVO NOMBRE
#Ver los 10 primeros
sql_query(query)

Calcular cuantas canciones hay por compositor

In [ ]:
query = '''
SELECT Composer,COUNT(TrackId) 
FROM tracks
WHERE Composer IS NOT NULL 
GROUP BY composer
ORDER BY 2 DESC
LIMIT 20
'''#Is not null es como un isna, nos da los que no tienen valor nulo
#2 significa el segundoi campo, para indicar la coliumna que quiero
sql_query(query)
#nos da los 20 primeros por número de canciones