##  Listas

### Acceso
Entre corchetes introducimos el indice del elemento al que queremos acceder

In [1]:
months = ["Enero", "Febrero", "Marzo"]
print(months[0])
print(months[-1])

Enero
Marzo

Si planteamos el problema al revés. Tenemos los valores de la lista y lo que queremos es obtener el índice de esos valores dentro de la lista

In [2]:
months = ["Enero", "Febrero", "Marzo", "Marzo"]
print(months.index("Febrero"))
print(months.index("Marzo"))

1
2

**Slicing**: usamos slicing para acceder a varios elementos seguidos de la lista

In [4]:
degrees = [22, 34, 15, 26, 18, 22]
sub_degrees = degrees[1:3]
print(sub_degrees)

sub_degrees_alt = degrees[1:len(degrees)]

sub_degrees_alt2 = degrees[1:]

print(sub_degrees_alt)
print(sub_degrees_alt2)

[34, 15]
[34, 15, 26, 18, 22]
[34, 15, 26, 18, 22]

### Modificar elementos

In [ ]:
# Accediendo mediante el indice
months = ["Enero", "Febrero", "Marzo"]
months[1] = "Abril"
print(months)

### Añadir elementos
Se añade al final de la lista si usamos `append`, o si queremos en un lugar concreto, mediante `insert`

In [5]:
# Con append lo añadimos al final de la lista
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append("Kawasaki")
print(motorcycles)
motorcycles.insert(3,"bultaco")
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'Kawasaki']
['honda', 'yamaha', 'suzuki', 'bultaco', 'Kawasaki']

In [7]:
# Es muy comun crear una lista vacia, y a lo largo del programa, ir añadiendo elementos
lista_motos = []
lista_motos.append("primera_marca")

#un monton de linea de código
lista_motos.insert(0,"siguiente")

### Eliminar elementos
Para eliminar elementos se usar `remove`. Si no existe, da error, así que cuidado con esta sentencia.

En ocasiones resulta útil quedarnos con el elemento eliminado. Para ello usamos `pop()`, que elimina el elemento que le indiquemos, y además devuelve ese elemento por lo que podremos guardarlo en una variable para usarlo después.

In [ ]:
cars = ["VW", "Seat", "BMW", "VW"]
cars.remove("VW")
print(cars)
eliminado = cars.pop(0)
print(eliminado)

### Métodos: ordenar, tamaño, invertir orden, ocurrencia

In [10]:
degrees = [22, 34, 15, 26, 18, 22]

#ordenar
degrees.sort()
print(degrees)

#contar el numero de elementos
degrees.sort(reverse = True)
print(len(degrees))

#invertir lista
degrees.reverse()
print(degrees)

#Ocurrencias de un elemento
print(degrees.count)

[15, 18, 22, 22, 26, 34]
6
[15, 18, 22, 22, 26, 34]
<built-in method count of list object at 0x0000014B0C00EE80>

## Tuplas

* **Inmutables**: una vez creada la tupla con sus elementos iniciales, no se puede modificar
* **Ordenadas**: podemos acceder a sus elementos a través del indice y reordenar la tupla según queramos

In [1]:
tupla_ejemplo = (3,"texto")
print(tupla_ejemplo)

(3, 'texto')

In [2]:
print("elprimer elemento es", tupla_ejemplo[0])
print("El segundo eemento es", tupla_ejemplo[1])

elprimer elemento es 3
El segundo eemento es texto

Los paréntesis ya se usan para reordenar operaciones `5 * (3 + 4)`, por lo que hay que añadir una coma cuando definamos una tupla con un único elemento, sino Python lo interpretará como un número.

In [3]:
mala_tupla = (24)
# es un entero
buena_tupla = (24,)
#tupla

tupla_anid = (1,2,3, ("a", "b"))
print(tupla_anid)

(1, 2, 3, ('a', 'b'))

In [4]:
#obtener posición tupla interior y el anidado
print(tupla_anid[2])
print(tupla_anid[3][1])

3
b

In [5]:
# son iterables
for i in tupla_anid:
    print(i)

1
2
3
('a', 'b')

In [6]:
#slicing
tupla_bis = tupla_anid[2:]
print(tupla_bis)

(3, ('a', 'b'))

Cuidado que las tuplas son inmutables, y una vez creadas no las podrás modificar después

In [7]:
# Si queremos añadir elementos, podemos meterlos en otra tupla y sumarlas para que se concatenen
tupla_1 = (1,2,3)
tupla_2 = (4,5,6)
print(tupla_1 + tupla_2)
tupla_3 =tupla_1 +tupla_2
tupla_1 = tupla_1 +tupla_2
print(tupla_3)
print(tupla_1)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

### Listas y tuplas
Podemos combinar listas y tuplas que no tendremos ningún problema, siempre y cuando respetemos las propiedades de cada tipo de dato.

In [8]:
lista_ejemplo = ["fresas", ("naranjas", "limones"), "kiwis"]
tupla_lista = ("fresas", ["naranjas", "limones"], "kiwis")
print(lista_ejemplo, type(lista_ejemplo))
print(tupla_lista, type(tupla_lista))

['fresas', ('naranjas', 'limones'), 'kiwis'] <class 'list'>
('fresas', ['naranjas', 'limones'], 'kiwis') <class 'tuple'>