## Tipos de los datos
* **Numérico**: tenemos `int`, `float` y `complex`. Dependiendo de si es un numero entero, uno real o un complejo.
* **String**: o Cadena. Cadena de texto plano
* **Booleano**: o Lógico. `True`/`False`

**¿Cómo sabemos el tipo de datos de una variable?** Mediante `type(nombre_variable)`

Algunas operaciones básicas que podemos hacer con los numeros:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

In [3]:
print("Sumas/restas")
print(1 + 2)
print(1.0 + 2) # Fijate que cuando fuerzo a que alguno de los numeros sea float, el resultado es float
print(1.0 - 2) #Siempre que opero float e int, nos dará float como tipo de resultado
print(1 + 2.0)
print(1-2)

Sumas/restas
3
3.0
-1.0
3.0
-1

In [7]:
print("Multiplicaciones/Divisiones")
print(2 * 2)
print(2.0 * 2) # Ocurre lo mismo que en las sumas, cuando ponemos uno de los numeros como float.
print(2/2) # Al hacer la división, directamente convierte el numero en float, a pesar de que los dos son enteros y el resultado también.
print(1000/10)

Multiplicaciones/Divisiones
4
4.0
1.0
100.0

In [8]:
print("Resto de la división")
print(10/3)
print(int(10/3)) # Me quedo con el entero de la division
print(10 % 3) # Me quedo con el resto de la division, se queda con la parte entera, no redondea
print(10//3)

Resto de la división
3.3333333333333335
3
1
3

In [9]:
print("Saber si un número es par")
n = 435678910
print("¿Es", n, "par?")
resto = n % 2
print("El resto es", resto)
if resto == 0:       #If  significa "si", si esta condición se cumple, si la variableresto tiene el valos 0, print es par
    print("es par")
else:                #Si no se cumple usamos else, quiere decir que si no se cumple la condición de if, se cumple la del else.
    print("Es impar")

Saber si un número es par
¿Es 435678910 par?
El resto es 0
es par

Para unir dos variables de tipo String, simplemente usamos el `+`

In [11]:
nombre = "Antonia"
apellido = "Scott"
nombre_apellido = (nombre + " " +apellido)
print(nombre_apellido)

Antonia Scott

### Booleano
  [al indice](#Contenidos)

Por último, el cuarto tipo de datos basiquísimo es el *booleano*: `True`/`False`. Para que Python reconoza este tipo de datos, hay que escribirlos con la primera letra en mayúscula

In [ ]:
True

Tipos de datos hay muchos, verás más adelante cómo crear tus propios tipos de datos mediante las clases y los objetos. Pero por ahora, quédate con los tipos de datos más simples:
* **int**: entero
* **float**: real
* **str**: cadena de texto
* **booleano**: true/false

## Conversión de tipos

In [12]:
num_real =24.69
print(type(num_real))
num_entero = int(num_real)
print(num_entero)
print(type(num_entero))

<class 'float'>
24
<class 'int'>

In [14]:
# Esta funcion tiene dos argumentos: el número y la cantidad de decimales que queremos conservar.
# Veremos funciones más adelante.
num_real = 24.686
print(num_real)
num_redondeado = round(num_real,0)
print(num_redondeado)

24.686
25.0

In [ ]:
num_redondeado = 24.69
num_convertido = round (num_redondeado,0)
print(num_convertido, type(num_convertido))
print(int(num_convertido))

In [ ]:
#pasar de num a string
num_real = 24.69
num_entero = 12

real_str = str(num_real)
entero_str =str(num_entero)
print(real_str, "su tipo", type(real_str))
print(entero_str, "su tipo", type(entero_str))

In [16]:
#string a número
mi_cadena = "98"
mi_entero = int(mi_cadena)
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))
mi_cadena_real = "98.33"
mi_real = float(mi_cadena_real)
print(mi_real, type(mi_real))

98 <class 'str'>
98 <class 'int'>
98.33 <class 'float'>

Pasar de **numero a boleano y viceversa**, tambien es bastante sencillo. Simplemente ten en cuenta que los 0s son `False`, y el resto de numeros equivalen a un `True`

In [15]:
booleano = bool(123)
print(booleano), type(booleano)

True

(None, bool)

In [17]:
booleano = bool(0)
print(booleano,type(booleano))

False <class 'bool'>

En el caso de transformar **String a booleano**, los strings vacíos serán `False`, mientras que los que tengan cualquier cadena, equivaldrán a `True`.

Sin embargo, si la operación es la inversa, el booleano `True` pasará a valer una cadena de texto como `True`, y para `False` lo mismo.

In [18]:
booleano =bool("")
booleano_2 = bool("Esto es otro tipo de booleano al hacer la conversión")
print(booleano, type(booleano))
print(booleano_2, type(booleano_2))

False <class 'bool'>
True <class 'bool'>

In [19]:
bool_str = str(booleano)
bool_2_str = str(booleano_2)
print(bool_str, bool_2_str)

False True

## Operaciones aritméticas  
[al indice](#Contenidos)   

Hace un par de sesiones ya vimos por encima las principales operaciones aritméticas en Python. Las recordamos:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

### Propiedad conmutativa, asociativa, distributiva y el paréntesis
Si queremos concatenar varias operaciones, ten siempre en cuenta las propiedades matemáticas de la multiplicación

In [20]:
print("Conmutativa")
print(2 * 3)
print(3 * 2)

print("\nAsociativa") # Recuerda que "\n" se usa para que haya un salto de linea en el output.
print((3 * 2) * 5)
print(3 * (2 * 5))

print("\nDistributiva")
print(2 * (3 + 5))
print(2 * 3 + 2 * 5)

print("\nEl Orden de operaciones se mantiene. Siempre podemos usar paréntesis")
print(2 * (2 + 3) * 5)
print((2 * 2 + 3 * 5)/(4 + 7))

Conmutativa
6
6

Asociativa
30
30

Distributiva
16
16

El Orden de operaciones se mantiene. Siempre podemos usar paréntesis
50
1.7272727272727273

* Raíz cuadrada
* Seno/Coseno
* Valor absoluto

In [21]:
import math
print(math.sqrt(25))
print(math.cos(0))
print(math.fabs(-123.45))

5.0
1.0
123.45

## Operaciones comparativas  
[al indice](#Contenidos)  

Es bastante intuitivo comparar valores en Python. La sintaxis es la siguiente:
* `==`: Igualdad. No es un `=`. Hay que diferenciar entre una comparativa, y una asignación de valores
* `!=`: Desigualdad
* `>`: Mayor que
* `<`: Menor que
* `>=`: Mayor o igual que
* `<=`: Menor o igual que

In [22]:
# asignacion
asign= 1
print(asign)
print(asign==5)
print(asign != 1)

1
False
False

In [23]:
print("AAA"=="BBB")
print("AAA" == "AAA")
print(93>12)

False
True
True

## Funciones (I): *Built in*  
[al indice](#Contenidos)  


Hay una serie de funciones internas, que vienen en el intérprete de Python. Algunas de las más comunes son:
* **Tipos**: `bool()`, `str()`, `int()`, `float()`
* **Min/Max**: `min()`, `max()`
* **print()**
* **type()**
* **range()**
* **zip()**
* **len()**
* ...

In [24]:
# Len se usa para calcular la longitud de una variable. Ya veras que lo usaremos mucho en colecciones
print(len("Esto es una cadena de longitud..."))


# Funcion max. Tiene tantos argumentos como cantidad de números entre los cuales queramos sacar su valor máximo.
print(max(1,12,24,25,6))

33
25

## Métodos  
[al indice](#Contenidos)  
Para usar un método se usa la sintaxis `objeto.metodo()`.

In [25]:
string_ejemplo = "string en minusculas"

#metodo string en mayus
print(string_ejemplo.upper())
string_ejemplo

#metodo en minusculas
print("ESTO ES UN EJEMPLO DIFERENTE".lower())
string_ejemplo_2 ="ESTO ES UN EJEMPLO DIFERENTE"
print(string_ejemplo_2.lower())

#método para reemplazar algún caracter o varios
print(string_ejemplo.replace("s","c"))
print(string_ejemplo.replace("minusculas", "minúsculas"))
print(string_ejemplo.replace("s", ""))

#Método convertir string en lista
print("Esto se va a convertir en una lista de strings".split(" "))#Método para conocer la posición dentro de un string


#Método para conocer la posición dentro de un string
print(string_ejemplo.index("m"))

STRING EN MINUSCULAS
esto es un ejemplo diferente
esto es un ejemplo diferente
ctring en minucculac
string en minúsculas
tring en minucula
['Esto', 'se', 'va', 'a', 'convertir', 'en', 'una', 'lista', 'de', 'strings']
10

## Listas
**Nos permiten almacenar conjuntos de variables u objetos**, y son
* **Mutables**: una vez se ha creado la lista, se puede modificar
* **Ordenada**: Los elementos tienen un cierto orden, lo que nos permite acceder al elemento que queramos teniendo en cuenta tal orden

In [26]:
# Lista numeros = 
numeros = [1,2,3,5,6]
print(numeros)
print(type(numeros))

#lista strings
strings = ["esto", "es","lista"]
print(strings)

#se pueden hacer de booleanos
bool = [True, False, not False, True or False, False and False]
print(bool)

len(lista) #para saber el número de elementos de la lista
conc = mix + lista
print(conc)
print(type(conc))

[1, 2, 3, 5, 6]
<class 'list'>
['esto', 'es', 'lista']
[True, False, True, True, False]

NameError: name 'lista' is not defined

### Metodos en Listas

In [27]:
asignaturas = ["física", "química", "mates", "literatura"]
#añadir elemento a una lista
asignaturas.append("Filosofía")
print(asignaturas)

#añadir elementois en posición determinada
asignaturas.insert(1, "Gimnasia")
print(asignaturas) 

#quitar elementos
#asignaturas.clear()
#print(asignaturas)

#Quitar un elemento a partir de su índice o posición
asignaturas.pop(1)
print(asignaturas)

#Quitar un elemento por su valor
asignaturas.remove("Filosofía")
print(asignaturas)

#Ordenar la lista
asignaturas.sort()
print(asignaturas)

['física', 'química', 'mates', 'literatura', 'Filosofía']
['física', 'Gimnasia', 'química', 'mates', 'literatura', 'Filosofía']
['física', 'química', 'mates', 'literatura', 'Filosofía']
['física', 'química', 'mates', 'literatura']
['física', 'literatura', 'mates', 'química']